<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    User Top Artist Images

    <a data-toggle="collapse" href="#user_user_top_artist_images_new_form">
      Add user top artist image
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.user_top_artist_images.each do |user_top_artist_image| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/user_top_artist_images/<%= user_top_artist_image.id %>">
          <%= user_top_artist_image.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
