<h1>
  Edit user top artist image #<%= @user_top_artist_image.id %>
</h1>

<hr>

<form action="/update_user_top_artist_image/<%= @user_top_artist_image.id %>" method="post">


  <div class="form-group">
    <label for="image_url">
      Image url
    </label>

    <input type="text" id="image_url" name="image_url" class="form-control" value="<%= @user_top_artist_image.image_url %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update user top artist image
  </button>
</form>

<hr>

<a href="/user_top_artist_images">
  Go back
</a>
